@media print,
(max-width: 1379px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 240px;
        --header_height: 80px;
        --font_size_title: 40px;
        --font_size_title_small: 28px;
        --font_size_title_middle: 28px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 10px);
    }



    .block,
    .block.middle_m,
    .block.small_m
    {
        margin-bottom: 100px;
    }


    .irs
    {
        margin: 0 12px 16px;
    }



    .bg_grey
    {
        padding-top: 118px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 20px;
    }


    .form .line
    {
        margin-bottom: 15px;
    }


    .form .field + .field
    {
        margin-top: 15px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 26px;
    }


    .page_title.middle
    {
        font-size: var(--font_size_title);
    }


    .page_desc
    {
        font-size: 14px;
    }


    .page_head .data
    {
        width: calc(100% - 203px);
        margin-left: 203px;

        gap: 16px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.middle_m
    {
        margin-bottom: 32px;
    }


    .block_head .desc
    {
        font-size: 14px;

        margin-top: 0;
    }


    .block_head .all_link
    {
        font-size: 16px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 14px;
        line-height: 120%;
    }


    .text_block > *
    {
        margin-bottom: 15px;
    }


    .text_block .columns
    {
        column-gap: 0;
        column-count: 1;
    }


    .text_block .columns > * + *
    {
        margin-top: 15px;
    }



    /*------------
        Filter
    ------------*/
    .filter .title
    {
        font-size: 22px;
        font-weight: 500;

        padding-top: 11px;
    }


    .filter .form .item
    {
        padding-top: 5px;
    }


    .filter .form .name
    {
        font-size: 14px;
        font-weight: 600;
    }


    .filter .form .data
    {
        padding-top: 6px;
    }


    .filter .form .field + .field
    {
        margin-top: 6px;
    }


    .filter .form .checkbox
    {
        font-size: 12px;

        min-height: 14px;
        padding-left: 20px;
    }


    .filter .form .checkbox .check
    {
        top: 0;

        width: 14px;
        height: 14px;
    }


    .filter .form .range .fields
    {
        margin-bottom: 16px;
    }


    .filter .form .range .field
    {
        width: calc(50% - 10px);
    }


    .filter .form .range .input
    {
        font-size: 12px;
    }


    .filter .form .submit
    {
        gap: 20px;
    }


    .filter .form .submit_btn,
    .filter .form .reset_btn
    {
        font-size: 16px;
        font-weight: 500;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none;
    }


    .main_slider .data
    {
        display: flex;
        flex-direction: column;
        order: 2;

        width: 100%;
        margin-right: 0;
        padding-top: 30px;
    }


    .main_slider .pre_title
    {
        font-size: 14px;

        margin-right: auto;
        margin-bottom: 5px;
        margin-left: auto;
        padding-top: 3px;
        padding-left: 5px;
    }


    .main_slider .title
    {
        font-size: var(--font_size_title);

        text-align: center;
    }


    .main_slider .link
    {
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
    }


    .main_slider .link a
    {
        font-size: 16px;

        min-height: 30px;
    }


    .main_slider .link a:before
    {
        width: 30px;
    }


    .main_slider .image
    {
        width: 100%;
        height: 482px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_head
    {
        width: 100%;
    }


    .advantages .data
    {
        width: 100%;
    }


    .advantages .item
    {
        font-size: 14px;
        font-weight: 600;

        padding-top: 0;

        border-top: none;

        gap: 10px;
    }



    /*-------------------
        Catalog block
    -------------------*/
    .catalog_block .row > *
    {
        width: calc(33.333% - 10px);
    }


    .catalog_block .row > *.block_head
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        width: calc(100% - 10px);
        margin-bottom: 30px;
    }


    .catalog_block .row > *.block_head .desc
    {
        width: calc(50% - 5px);
    }


    .catalog_block .category
    {
        min-height: 135px;
        padding: 10px;
    }


    .catalog_block .category .name
    {
        font-size: 22px;

        width: 100%;
    }


    .catalog_block .category .thumb
    {
        bottom: -14px;

        width: calc(100% + 59px);
    }


    .catalog_block .category .thumb img
    {
        display: none;
    }


    .catalog_block .category .thumb img + img
    {
        display: block;
    }



    /*--------------
        Services
    --------------*/
    .services .accordion
    {
        width: 100%;
    }


    .services .accordion_item .head
    {
        padding: 10px 0 10px 60px;
    }


    .services .accordion_item .head:before
    {
        font-size: 24px;
    }


    .services .accordion_item .head .title
    {
        font-size: 22px;

        width: calc(100% - 40px);
    }


    .services .accordion_item .data
    {
        min-height: 147px;
        padding: 0 203px 9px 60px;
    }


    .services .text_block
    {
        font-size: 14px;
    }


    .services .btn
    {
        font-size: 16px;
    }


    .services .image
    {
        top: 0;

        width: 193px;
        height: 146.5px;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block img
    {
        min-height: 400px;

        object-position: 65% 50%;
    }


    .about_block .bottom
    {
        margin-top: 30px;
    }


    .about_block .link
    {
        padding-left: 203px;
    }


    .about_block .link a
    {
        font-size: 16px;

        min-height: 30px;
    }


    .about_block .link a:before
    {
        width: 30px;
    }



    /*--------------------
        Projects block
    --------------------*/
    .projects_block .block_head
    {
        width: 100%;
        padding-top: 0;

        border: none;
    }


    .projects_block .data
    {
        width: 100%;
        padding-top: 0;

        border: none;
    }


    .projects_block .row > *,
    .projects_block .row > *.big_w
    {
        width: calc(50% - 10px);
    }


    .projects_block .project .thumb
    {
        margin-bottom: 22px;
    }


    .projects_block .project .name
    {
        font-size: 22px;
    }


    .projects_block .project .desc
    {
        font-size: 14px;

        margin-top: 3px;
    }


    .projects_block .all_link
    {
        margin-top: 24px;
    }


    .projects_block .all_link a
    {
        font-size: 16px;

        min-height: 30px;
        margin-right: auto;
        margin-left: auto;
    }


    .projects_block .all_link a:before
    {
        width: 30px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .row
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }


    .solutions .row > *
    {
        width: calc(50% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-slide
    {
        width: 600px;
    }


    .reviews .swiper-button-prev,
    .reviews .swiper-button-next
    {
        display: none;
    }


    .reviews .review .name
    {
        font-size: 22px;
    }


    .reviews .review .text
    {
        font-size: 14px;

        margin-top: 10px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .image
    {
        display: none;
    }


    .FAQ .accordion
    {
        width: 100%;
    }



    .FAQ .accordion_item .head .title
    {
        width: calc(100% - 65px);
        max-width: 100%;
    }


    .FAQ .text_block
    {
        font-size: 14px;
    }


    .FAQ .link a
    {
        font-size: 16px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .head
    {
        margin-bottom: 53px;
    }


    .contacts_block .block_head
    {
        width: calc(100% - 295px);
    }


    .contacts_block .links
    {
        width: 275px;
    }


    .contacts_block .links a
    {
        font-size: 14px;
        font-weight: 600;

        justify-content: flex-end;

        padding: 14px 0;
    }


    .contacts_block .links .arrow
    {
        display: none;
    }


    .contacts_block .order
    {
        padding: 60px 0 100px;
    }


    .contacts_block .order .form
    {
        width: 100%;
        padding: 40px;

        border-radius: 0;
    }


    .contacts_block .order .title
    {
        font-size: 24px;
    }


    .contacts_block .order .form .line
    {
        margin-bottom: 10px;
    }


    .contacts_block .order .form .submit
    {
        padding-top: 30px;
    }


    .contacts_block .order .form .submit_btn
    {
        font-size: 20px;
    }


    .contacts_block .order .form .checkbox
    {
        font-size: 16px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .head
    {
        margin-bottom: 30px;
        padding: 48px 25px;
    }



    /*-----------------------
        Categories slider
    -----------------------*/
    .categories_slider
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .row > *,
    .content .products .row > *
    {
        width: calc(50% - 10px);
    }


    .products .product .buy_btn
    {
        width: 30px;
        height: 30px;
    }


    .products .product .buy_btn .icon
    {
        width: 16px;
        height: 16px;
    }


    .products .product .thumb
    {
        background: none;
    }


    .products .product .name,
    .products .product .name.big
    {
        font-size: 22px;
    }


    .content .products .product .name
    {
        font-size: 14px;
        font-weight: 600;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .product_info .data
    {
        width: 100%;
    }


    .product_info .info
    {
        padding: 0;

        border: none;
        border-radius: 0;
    }


    .product_info .articul
    {
        font-size: 10px;
    }


    .product_info .product_name
    {
        width: calc(100% - 152px);
    }


    .product_info .options
    {
        margin-top: 32px;

        gap: 20px;
    }


    .product_info .options .vals
    {
        gap: 20px;
    }


    .product_info .options .vals.colors
    {
        gap: 10px;
    }


    .product_info .options .vals label div
    {
        font-size: 14px;
    }


    .product_info .price
    {
        position: absolute;
        top: 22px;
        right: 0;

        margin: 0;
    }


    .product_info .buy_btn,
    .product_info .amount
    {
        margin-top: 40px;
    }


    .product_info .delivery
    {
        display: none;
    }


    .product_info .section
    {
        padding-top: 5px;
        padding-left: 0;
    }


    .product_info .section .title
    {
        font-size: 22px;

        margin-bottom: 7px;
    }


    .product_info .description .text_block
    {
        font-size: 14px;
    }


    .product_info .features .items
    {
        gap: 10px 31px;
    }



    /*-----------------
        About image
    -----------------*/
    .about_image img
    {
        object-position: 67% 50%;
    }



    /*-------------
        History
    -------------*/
    .history .block_title
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .history .data
    {
        width: 100%;

        gap: 80px;
    }


    .history .item:after
    {
        top: 14px;

        height: calc(100% - 14px);
    }


    .history .item + .item:before
    {
        height: 94px;
        margin-bottom: -14px;
    }


    .history .item .year
    {
        font-size: 24px;
        font-weight: 500;

        padding-left: 23px;
    }


    .history .item .desc
    {
        font-size: 14px;

        width: calc(100% - 204px);
    }



    /*---------------
        Big quote
    ---------------*/
    .big_quote .text
    {
        font-size: var(--font_size_title);

        padding-top: 40px;
        padding-right: 0;
        padding-bottom: 76px;
        padding-left: 16px;

        text-align: right;
    }


    .big_quote .text span
    {
        display: inline;
    }


    .big_quote .text:before
    {
        left: 12px;
    }



    /*--------------
        About us
    --------------*/
    .about_us .block_title
    {
        width: 100%;
        margin-bottom: 32px;
    }


    .about_us .data
    {
        width: 100%;
        padding-left: 73px;

        border: none;

        gap: 53px;
    }


    .about_us .item
    {
        padding-left: 135px;

        gap: 20px;
    }


    .about_us .item .title
    {
        font-size: 20px;
    }


    .about_us .item .desc
    {
        font-size: 14px;
        font-weight: 400;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        gap: 50px 20px;
    }


    .contacts_info .item .label
    {
        font-size: 14px;
    }


    .contacts_info .item .val
    {
        font-size: 20px;
        font-weight: 700;

        padding-top: 9px;
    }


    .contacts_info .item .map
    {
        height: 408px;
        margin: 38px calc(var(--cont_padding) * -1) 0;
    }



    /*--------------
        Projects
    --------------*/
    .page_head + .projects
    {
        padding-top: 74px;
    }


    .projects .list
    {
        gap: 100px;
    }


    .projects .project
    {
        padding-top: 14px;
    }


    .projects .project .number
    {
        position: absolute;
        left: var(--cont_padding);
    }


    .projects .project .info
    {
        width: 100%;

        gap: 15px;
    }


    .projects .project .name
    {
        padding-left: 203px;
    }


    .projects .project .gallery
    {
        margin-top: 30px;

        gap: 30px;
    }


    .projects .project .gallery .item,
    .projects .project .gallery .item.big
    {
        width: 100%;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .cont
    {
        padding-bottom: 10px;
    }


    .cart_info .clear_btn
    {
        font-size: 16px;

        margin-bottom: 30px;
    }


    .cart_info .product
    {
        padding: 10px 0;
    }


    .cart_info .product .image
    {
        width: 112px;
        height: 112px;
    }


    .cart_info .product .info
    {
        width: 178px;
        min-height: 112px;
    }


    .cart_info .product .name
    {
        font-size: 22px;

        hyphens: auto;
    }


    .cart_info .product .features
    {
        font-size: 10px;

        gap: 3px 15px;
    }


    .cart_info .product .price
    {
        font-size: 16px;

        display: none;

        width: 132px;
    }


    .cart_info .product .price.total
    {
        display: block;

        margin-left: 0;
    }


    .cart_info .product .amount
    {
        width: 112px;
        margin-left: 0;
    }


    .cart_info .product .delete
    {
        margin-left: 0;
    }



    .cart_info .bottom
    {
        gap: 40px;
    }


    .cart_info .checkout_link
    {
        width: 100%;
    }


    .cart_info .back_link
    {
        order: 2;

        width: 100%;

        text-align: center;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info
    {
        padding-bottom: 131px;
    }


    .checkout_info .data
    {
        width: 100%;
    }


    .checkout_info .data .section .title.mob_big
    {
        font-size: 22px;
        font-weight: 500;

        margin-bottom: 13px;
    }


    .checkout_info .data .form
    {
        gap: 15px;
    }


    .checkout_info .data .type
    {
        gap: 20px;
    }


    .checkout_info .data .type .field
    {
        width: calc(50% - 10px);
    }


    .checkout_info .data .form .submit
    {
        position: absolute;
        bottom: 32px;

        width: calc(100% - var(--cont_padding) * 2);
        margin: 0;
    }


    .checkout_info .data .form .agree
    {
        position: absolute;
        bottom: 0;

        margin: 0;
    }


    .checkout_info .order
    {
        width: 100%;
        margin-top: 35px;
    }


    .checkout_info .order .product,
    .checkout_info .order .product + .product
    {
        padding-top: 5px;

        gap: 10px;
    }


    .checkout_info .order .product .image
    {
        width: 40px;
        height: 40px;
    }


    .checkout_info .order .product .info
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: calc(100% - 290px);
        min-height: 40px;
    }


    .checkout_info .order .product .name
    {
        font-size: 14px;
        font-weight: 600;

        width: calc(100% - 152px);
    }


    .checkout_info .order .product .features
    {
        font-size: 10px;

        width: 142px;
        margin: 0;

        gap: 0;
    }


    .checkout_info .order .product .amount,
    .checkout_info .order .product .price
    {
        width: 110px;
    }



    /*----------------------
        Checkout success
    ----------------------*/
    .checkout_success
    {
        padding: 261px 0 268px;
    }


    .checkout_success .big_icon
    {
        margin-bottom: 30px;
    }


    .checkout_success .desc
    {
        font-size: 14px;

        width: 356px;
        margin-top: 17px;
    }


    .checkout_success .link
    {
        margin-top: 30px;
    }


    .checkout_success .link a
    {
        font-size: 16px;

        min-height: 30px;
    }


    .checkout_success .link a:before
    {
        width: 30px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 50px 0 40px;
    }



    footer .cont
    {
        gap: 30px 0;
    }



    footer .col_left
    {
        margin: 0;

        gap: 0;
    }



    footer .logo
    {
        position: absolute;
        top: 40px;
        left: var(--cont_padding);
    }


    footer .logo img
    {
        width: 182px;
        height: 36px;
    }



    footer .catalog
    {
        display: none;
    }



    footer .title
    {
        font-size: 14px;

        margin-bottom: 12px;
    }


    footer .title.mob_hide
    {
        display: none;
    }


    footer .title.mob_hide + .items
    {
        padding-top: 41px;
    }



    footer .links
    {
        margin-left: auto;
    }


    footer .col_left + .links
    {
        margin-left: 0;
    }


    footer .links .items
    {
        width: 193px;
    }


    footer .links .items.columns
    {
        width: 397px;
    }



    footer .contacts
    {
        width: 194px;
        margin-left: 10px;
    }


    footer .contacts .messengers
    {
        position: absolute;
        left: var(--cont_padding);

        padding-bottom: 0;

        transform: translateY(-29px);
    }
}
